APP_ENV=testing
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=gimnacio_v1_test
DB_USERNAME=root
DB_PASSWORD=

CACHE_STORE=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=array
MAIL_MAILER=array

CRM_AUTOMATION_USER_ID=1
